[Unit]
Description=swaymsg output rotate wallpaper service

[Service]
ExecStart=%h/.config/sway/scripts/wallpaper.sh

[Install]
WantedBy=multi-user.target
